.section2{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;

}
span{
    position: relative;
}
.supplement{
    position: absolute;
    bottom:95px;
    left:360px;
    color:white;
    
}
.laser{
    position: absolute;
    bottom:95px;
    left:360px;
    color:white;

}
.section3{
    background-color:#0B0B0B;
    height: 600px;

}
.section3Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:azure;
}
.section3p{
    width: 400px;
    font-size: 15px;
}
.section1container{
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.section1 {
  display: flex;
  flex-direction: column;
 align-items:center;
 justify-content: center;

 padding: 300px;
}
.section1-title{
  font-size: 35px;
  align-items: center;
  color: #ffffff;

}
.section1-content{
 
  color:#ffffff;
  font-size: 17px;
}


.section1-btn {
  cursor: pointer;
  font-size: 12px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;

  outline: none;
}



